extends base.pug
block title
	title #{title}
block tel
	span 联系电话: #{tel}
block h1title
	h1 #{title}
block tips
	p #{tips}
block footer-content
	p 网站版权所有@#{title} | 
		a(href="http://hwaphon.site" class="author") 开发者-高华峰
block content
	- var str = content
	article.intro
		each val in str
			if val === ''
				br
			else
				p= val