extends base.pug
block title
	title #{title}
block tel
	span 联系电话: #{tel}
block h1title
	h1 #{title}
block tips
	p #{tips}
block footer-content
	p 网站版权所有@#{title} | 
		a(href="http://hwaphon.site" class="author") 开发者-高华峰
block owncss
	link(rel="stylesheet" href="css/news.css")
block content
	.news-list.list
	div.page-control
		span.pre 上一页
		span.next 下一页
block scripts
	script(src="js/front-news.js")